<div class="container d-flex justify-content-end"><button
    class="btn btn-dark"
    onclick="window.history.back()"
  >Atras</button></div>

<br />

<div class="container col-md-4 text-center">
  <h2 class="d-flex justify-content-center">Detalle de Artistas</h2>

  <div class="form-control">
    <h6>Nombre: {{nombre}}</h6>
  </div>
  <div class="form-control">
    <h6>Descripcion: {{descripcion}}</h6>
  </div>

  <br />
</div>