body {
  margin: 0;
  padding: -2em;
  font-family: "Poiret One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-size: 1.2em;
}

#headerTitle {
  font-size: 2.1em;
  border: 1px solid #f79056;
  border-radius: 0.1em;
  padding-top: 0em;
  padding-bottom: 0em;
  padding-left: 0.3em;
  padding-right: 0.3em;
}
#headerTitle:hover {
  border: 1px solid #084547;
  background-color: #f79056;
  color: #084547;
  font-weight: 700;
}

nav {
  background-color: #084547;
}

nav a {
  font-size: 1.3em;
}
nav a:hover {
  font-size: 1.3em;
}

nav a.active,
nav a.active:hover,
nav a.active:focus {
  text-decoration: 2px underline double #f79056;
}

#jumbotronPrincipal {
  color: white;
  background-color: #084547;
  border: 2px solid #084547;
  padding: 0.2em;
  padding-left: 1.1em;
  padding-right: 1.1em;
}

#jumbotronPrincipal > div {
  border: 2px solid #f79056b8;
  padding: 1em;
}
#jumbotronPrincipal h2 {
  font-weight: 600;
}

#jumbotronPrincipal,
#cardSecu > div > div {
  box-shadow: 0 0.5rem 1rem rgb(122 122 122 / 59%) !important;
}

#imgHome {
  width: 40vw !important;
}
/* escritorio */
@media (min-width: 768px) {
  .jumbotron p {
    font-size: 1.6rem;
  }
  nav a {
    font-size: 1.3em;
  }
}
/* mobil */
@media (max-width: 768px) {
  nav a {
    font-size: 1.2em;
  }
  .jumbotron p {
    font-size: 1.2rem;
  }
}
#cardSecu > div > div {
  color: #084547;
  border: 2px solid #f79056b8;
}

#cardSecu .card-body {
  background-color: #095f5c;
  color: #fff;
  font-size: 1.3em;
}
#cardSecu > div > div > div.card-header {
  background-color: #084547;
}
#cardSecu > div > div > div.card-header > h2 {
  font-size: 3.4em;
  color: #fff;
}

footer p {
  font-size: 1.3em;
}

label {
  font-size: 1.5em !important;
}

ul > li {
  font-size: 1.2em;
}

.form-control {
  border: 1px solid #084547;
}

form > div > button {
  background-color: #084547 !important ;
  color: #fff !important;
}
