<div class="container col-6">
  <div class="text-center">
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
    <br />
    <a href="/admin/login" class="btn btn-success">Iniciar Sesion</a>
    <a href="/admin/register" class="btn btn-info">Registrarse</a>

  </div>
</div>
<br />
